<html dir="<%= config.direction %>" lang="<%= config.language %>" xml:lang="<%= config.language %>" xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="UTF-8" />
    <% if (title) { %>
      <title><%= config.title %>: <%= title %></title>
    <% } else { %>
      <title><%= config.title %></title>
    <% } %>
  </head>
  <body class="pubmark pubmark-epub <%= bodyClass %>">
    <main id="pubmark-content">
      <%~ content %>
    </main>
  </body>
</html>
